{% extends 'base.html' %}
{% block title %}Dashboard Agriculteur{% endblock %}

{% block content %}
<h1 class="mb-4">Mes projets agricoles</h1>

<a href="{{ url_for('new_project') }}" class="btn btn-success mb-3">+ Créer un nouveau projet</a>

{% if projects %}
  <ul class="list-group">
    {% for p in projects %}
    <li class="list-group-item">
      <strong>{{ p.title }}</strong><br>
      Objectif : {{ "{:,.0f}".format(p.amount_needed).replace(",", " ") }} HTG
    </li>
    {% endfor %}
  </ul>
{% else %}
  <div class="alert alert-info">
    Vous n'avez pas encore créé de projet. Cliquez sur "Créer un nouveau projet" pour démarrer.
  </div>
{% endif %}
{% endblock %}
